extends layout

block content
    h1= title
    form(id='gunForm', action="/resource/gun", method="POST")
        div.form-group
            label.gunAttr(for='gun_type') gun name
            input#gun_type(type='text', name='gun_type')
        div.form-group
            label.gunAttr(for='Manufacturer') gun Manufacturer
            input#Manufacturer(type='text', name='Manufacturer')
        div.form-group
            label.gunAttr(for='Caliber') Caliber
            input#Caliber(type='number', name='Caliber')
        input(type="submit")

    script.
        document.forms['gunForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'POST',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Save succeeded");
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Save failed: " + error);
            });
        });

